@{
    ViewBag.Title = "CollectIT - The best rss consumer tool on ze intrawebs";
}

<div class="jumbotron">
    <h1>CollectIT - Making RSS easy</h1>
    <p class="lead">CollectIT is a free web application for consuming and keeping track of rss data.</p>
    <p><a href="http://http://hmpg.net/" class="btn btn-primary btn-lg">End of the internet &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Because its hard</h2>
        <p>
            RSS is an abbrevation. Abbrevations are harder to understand than ordinary words. So let us help!
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Abbreviation">Abbrevations on wikipedia &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Because we say so</h2>
        <p>We are strong. And we are two against one (dont team up though, seriously).</p>
        <p><a class="btn btn-default" href="https://www.nationalgangcenter.gov/survey-analysis/measuring-the-extent-of-gang-problems">Gang violence statistics &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Because you are lazy</h2>
        <p>Sure you COULD install a real RSS reader. But why bother? F**k it, let us do the work for you!</p>
        <p><a class="btn btn-default" href="http://www.chroniclaziness.com/">More on chronic laziness &raquo;</a></p>
    </div>
</div>